h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.about-container{
    height: 100vh;
    padding: 4rem 5rem;

}

.about-content{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.about-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-container p{
}

.about-image{
    width: 25rem;
    height: 25rem;
    object-fit: contain;
    background-color: grey;
}