body{
    background: linear-gradient(180deg,rgba(43, 164, 241, 1) 0%, rgba(9, 9, 121, 1) 100%);
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact-left{
    height: 70%;
    min-width: 40rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.225);
}