#hero-banner {
  position: relative;
  width: 100%;
  height: 65vh;
  margin-bottom: 6rem;
  overflow: hidden;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.hero-slide.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
  z-index: 1;
  transform: scale(1);
  transition: transform 1.5s ease;
}

.hero-slide.active .hero-bg {
  transform: scale(1.02);
}

.hero-content {
  position: relative;
  z-index: 3;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--typography-colour);
  text-align: center;
}

.hero-content p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.85);
}

.cta-btn {
  width: fit-content;
  margin: 2rem 0;
  padding: 1rem 2.5rem;
  color: white;
  border: 1.8px solid white;
  border-radius: 0.25rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}

.cta-btn:hover {
  background: var(--background-colour);
  color: var(--typography-colour);
}

.hero-dots {
  position: absolute;
  bottom: 2rem;
  width: fit-content;
  text-align: center;
  z-index: 5;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.hero-dots:hover{
  opacity: 1;
}

.hero-dots .dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.dot.active{
  background-color: white;
}


section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-container{
  max-width: 75%;
  font-size: 1.6rem;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.link-btn {
  width: fit-content;
  color: var(--accent-colour);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: color 0.2s ease;
  margin-top: 2rem;
}

.link-btn:hover {
  color: var(--accent-colour-hover);
  text-decoration: underline;
  text-align: center;
}

.practice-areas {
  background-color: var(--background-colour);
}

.practice-container{
  max-width: 100%;
  font-size: 1.6rem;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.practice-container p{
  max-width: 75%;
}

.practice-grid {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.practice-card {
  background: var(--background-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  text-align: center;
  border: 1.5px solid var(--background-colour);
  box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.277);
  transition: all 0.25s ease;
  cursor: pointer;
}

.practice-card:hover{
  color: var(--accent-colour);
}

.practice-card i {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  color: var(--accent-colour);
}

.practice-card h3 {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.practice-card div {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #555;
}

.practice-card:hover {
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.296);
  border: 1.5px solid var(--accent-colour);
}

/*CTA SECTION*/
.cta-section {
  padding: 7rem 2rem;
  text-align: center;
  background-color: var(--accent-colour);
  color: var(--background-colour);
}

.cta-content h2 {
  font-family: var(--secondary-font);
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.cta-content p {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

/* ===== MAP SECTION ===== */
#map-section {
  padding: 5rem 2rem;
  background: #f8fafb;
}

#map-section h2 {
  font-family: var(--secondary-font);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

#map-section p {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  color: #555;
}

.map-wrapper {
  width: 100rem;
  margin: 0 auto;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.367);
}

.map-wrapper iframe {
  width: 100%;
  height: 40rem;
  border: 0;
}
