/*Satoshi Font*/
@import url("https://fonts.cdnfonts.com/css/satoshi");

/*Neue Montreal Font*/
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

:root{
  --primary-colour:#c3cccb;
  --accent-colour: #2ba4f1;
  --accent-colour-hover: #2283C1;
  --background-colour: rgba(246, 246, 246, 1);
  --typography-colour:#333d47;
  
  /*fonts*/
  --primary-font: "Satoshi", sans-serif;
  --secondary-font: "PP Neue Montreal", sans-serif;
}

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--primary-font), var(--secondary-font),'Arial', sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-colour);
    color: var(--typography-colour);
    
    width: 100%;

}

main{
    min-height: 85vh;

}

header{
    height: 6rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav-container{
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-colour);
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.388);
}

.nav-menu{
    width: fit-content;
    height: 100%;
    /*padding: 1rem;*/
    display: flex;
    align-items: center;

}

.navlinks{
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0 2rem;
}


.navlinks li{
    display: inline-block;
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    font-weight: 450;
    

}

.navlinks a{
    min-width: 6rem;
    color: var(--typography-colour);
    opacity: 0.8;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    
}

.navlinks a.active {
    color: var(--accent-colour);
    position: relative;
}

.navlinks a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2.2rem; 
    width: 100%;
    height: 0.3rem;
    background-color: var(--accent-colour);
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease;
}

.navlinks a.active.active-loaded::after {
    opacity: 1;
    transform: scaleX(1);
}



a.active{
    color: var(--accent-colour);
}

.vl{
    border-left: 1px solid var(--typography-colour);
    height: 50%;
    opacity: 0.5;
}

.socials-container{
    margin: 0 1.5rem;
    display: flex;
    gap: 1.5rem;
}

.sm{
    font-size: 2rem;
    color: var(--typography-colour);
    display: inline-block;
}


.nav-logo{
    padding: 1rem;
}

.logo{
    cursor: pointer;
    color: var(--typography-colour);
    text-decoration: none;
    display: block;
}

#hero{
    height: 60vh;
    width: 100%;
    background: linear-gradient(299deg,rgba(43, 164, 241, 1) 0%, rgba(9, 9, 121, 1) 100%);
}

footer{
    text-align: center;
    padding: 2.4rem 0;
    font-size: 1.4rem;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333d47;
    color: var(--background-colour);
}